CustomerAdminService/Prollux.CustomerAdmin.Test/Service References/ProlluxCustomerAdminService/ProlluxCustomerAdmin1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Prollux.CustomerAdmin.WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Prollux.CustomerAdmin.WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClientData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientData" nillable="true" type="tns:ClientData" />
  <xs:complexType name="ResultData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultData" nillable="true" type="tns:ResultData" />
</xs:schema>